.navbar {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 1em 3em;
}

.menu-toggle {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  background: none;
  border: none;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-image {
  height: 3em;
  margin-right: 8px;
}

.brand-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #222;
}

.navbar-links,
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 2em;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 4px;
}

.nav-link:hover {
 background-color: #d4a017;
}

.profile-button {
  font-size: medium;
}

.nav-button,
.profile-button  {
  padding: 8px 16px;
  border: 1.5px solid #000000;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 800;
  transition: background-color 0.2s ease-in-out;
  color: #000000;
}

.nav-button:hover,
.profile-button:hover {
  background-color: #d4a017;
}

@media (max-width: 768px) {
  .navbar-container {
    width: auto;
    display: contents; 
    align-items: center;
  }

  .menu-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-top: 1em;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links .nav-link,
  .navbar-links .nav-button,
  .navbar-links .profile-button {
    width: 100%;
    text-align: center;
    padding: 12px;
  }
}