.FormContainer {
    width: 100%;
    margin-top: 4em;
    padding: 2em 0;
}

.Update-FormContainer{
    width: 100%;
    margin: 0 2em;
    padding: 2em 0;
}

.FormContainer a {
    text-decoration: none;
    font-weight: 800;
}

.Form {
    padding: 2em 0 0 0;
    width: 35em;
    margin: auto;
}

@media (max-width: 950px) and (min-width: 769px) {
  .FormContainer,
  .Update-FormContainer {
    margin-top: 10em;
    padding: 1em 0;
  }
  .Form {
    width: 90vw;
    min-width: 0;
    padding: 1em 0 0 0;
  }
}

@media (max-width: 768px) {
  .FormContainer,
  .Update-FormContainer {
    margin-top: 6em 0.5em 0 0.5em;
    padding: 0.5em 0;
  }
  .Form {
    width: 100vw;
    min-width: 0;
    padding: 0.5em 0 0 0;
  }
}

